# Database Configuration
WSRS_DATABASE_USER=postgres
WSRS_DATABASE_PASSWORD=password
WSRS_DATABASE_HOST=localhost
WSRS_DATABASE_PORT=5432
WSRS_DATABASE_NAME=wsrs_db

# Logger Configuration
# Possible values: debug, info, warn, error
LOG_LEVEL=info
